# 5장. 파이썬과 MySQL로 구축하는 주소 데이터베이스

## 5.2 프로젝트 환경 구축하기 

### 파이썬 노트북으로 MySQL 연결하기

In [11]:
!pip3 install pymysql

Requirement already satisfied: pymysql in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (1.1.0)

In [1]:
import pymysql

def init_connection():
    connection = pymysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="root",
        cursorclass=pymysql.cursors.DictCursor,
        charset="utf8",
    )
    return connection

sql = "SHOW DATABASES;"
conn = init_connection()

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)

{'Database': 'address'}
{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}

## 5.3 데이터베이스 생성하기

### 데이터베이스 생성하기

In [13]:
conn = init_connection()
sql = "CREATE DATABASE address DEFAULT CHARACTER SET utf8;"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        conn.commit()

In [14]:
conn = init_connection()
sql = "SHOW DATABASES;"

with conn:
    with conn.cursor() as cur:
        cur.execute(sql)
        for data in cur:
            print(data)

{'Database': 'address'}
{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sys'}

## 5.4 테이블 생성하기

### 테이블 생성하기

In [7]:
def init_db_connection():
    connection = pymysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="root",
        database="address",
        cursorclass=pymysql.cursors.DictCursor,
        charset="utf8",
        local_infile=True
    )
    return connection

def query_get(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            cursor.execute(sql)
            return cursor.fetchall()

def query_update(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            cursor.execute(sql)
            connection.commit()
            return True

In [16]:
sql = '''
    CREATE TABLE `rnaddrkor` (
        `도로명주소관리번호` varchar(26) NOT NULL,
        `법정동코드` varchar(10),
        `시도명` varchar(40),
        `시군구명` varchar(40),
        `읍면동명` varchar(40),
        `리명` varchar(40),
        `산여부` varchar(1),
        `번지` varchar(4),
        `호` varchar(4),
        `도로명코드` varchar(12) NOT NULL,
        `도로명` varchar(80),
        `지하여부` varchar(1) NOT NULL,
        `건물본번` int(5) NOT NULL,
        `건물부번` int(5) NOT NULL,
        `행정동코드` varchar(60),
        `행정동명` varchar(60),
        `기초구역번호(우편번호)` varchar(5),
        `이전도로명주소` varchar(400),
        `효력발생일` varchar(8),
        `공동주택구분` varchar(1),
        `이동사유코드` varchar(2),
        `건축물대장건물명` varchar(400),
        `시군구용건물명` varchar(400),
        `비고` varchar(200),
        PRIMARY KEY (`도로명주소관리번호`, `도로명코드`, `지하여부`, `건물본번`, `건물부번`)
    );
'''

query_update(sql)

True

In [17]:
sql = '''
    CREATE TABLE `jibun_rnaddrkor` (
        `도로명주소관리번호` varchar(26) NOT NULL,
        `법정동코드` varchar(10) NOT NULL,
        `시도명` varchar(40),
        `시군구명` varchar(40),
        `법정읍면동명` varchar(40),
        `법정리명` varchar(40),
        `산여부` varchar(1) NOT NULL,
        `지번본번(번지)` int(4) NOT NULL,
        `지번부번(호)` int(4) NOT NULL,
        `도로명코드` varchar(12),
        `지하여부` varchar(1),
        `건물본번` int(5),
        `건물부번` int(5),
        `이동사유코드` varchar(2),
        PRIMARY KEY (`도로명주소관리번호`, `법정동코드`, `산여부`, `지번본번(번지)`, `지번부번(호)`)
    );
'''

query_update(sql)

True

In [18]:
query_get("SHOW TABLES;")

[{'Tables_in_address': 'jibun_rnaddrkor'}, {'Tables_in_address': 'rnaddrkor'}]

In [19]:
query_get("DESC rnaddrkor;")

[{'Field': '도로명주소관리번호',
  'Type': 'varchar(26)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '법정동코드',
  'Type': 'varchar(10)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시도명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시군구명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '읍면동명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '리명',
  'Type': 'varchar(40)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '산여부',
  'Type': 'varchar(1)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '번지',
  'Type': 'varchar(4)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '호',
  'Type': 'varchar(4)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '도로명코드',
  'Type': 'varchar(12)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '도로명',
  'Type': 'varchar(80)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '지하여부',
  'Type': 'varchar(1)',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '건물본번',
  'Type': 'int',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '건물부번',
  'Type': 'int',
  'Null': 'NO',
  'Key': 'PRI',
  'Default': None,
  'Extra': ''},
 {'Field': '행정동코드',
  'Type': 'varchar(60)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '행정동명',
  'Type': 'varchar(60)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '기초구역번호(우편번호)',
  'Type': 'varchar(5)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '이전도로명주소',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '효력발생일',
  'Type': 'varchar(8)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '공동주택구분',
  'Type': 'varchar(1)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '이동사유코드',
  'Type': 'varchar(2)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '건축물대장건물명',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '시군구용건물명',
  'Type': 'varchar(400)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''},
 {'Field': '비고',
  'Type': 'varchar(200)',
  'Null': 'YES',
  'Key': '',
  'Default': None,
  'Extra': ''}]

## 5.5 데이터 삽입하기

### local infile 허용하기

In [2]:
def init_db_connection():
    connection = pymysql.connect(
        host="localhost",
        port=3306,
        user="root",
        password="root",
        database="address",
        cursorclass=pymysql.cursors.DictCursor,
        charset="utf8",
        local_infile=True # 클라이언스 상에서 조건 추가
    )
    return connection

### 데이터 경로 확인하기

In [21]:
import glob

file_list = glob.glob("data/rnaddrkor/rnaddrkor_*.txt")

for file in file_list:
    print(file)

data/rnaddrkor/rnaddrkor_sejong.txt
data/rnaddrkor/rnaddrkor_jeonnam.txt
data/rnaddrkor/rnaddrkor_seoul.txt
data/rnaddrkor/rnaddrkor_ulsan.txt
data/rnaddrkor/rnaddrkor_gyeongnam.txt
data/rnaddrkor/rnaddrkor_incheon.txt
data/rnaddrkor/rnaddrkor_chungnam.txt
data/rnaddrkor/rnaddrkor_daejeon.txt
data/rnaddrkor/rnaddrkor_daegu.txt
data/rnaddrkor/rnaddrkor_chungbuk.txt
data/rnaddrkor/rnaddrkor_gangwon.txt
data/rnaddrkor/rnaddrkor_gyunggi.txt
data/rnaddrkor/rnaddrkor_gwangju.txt
data/rnaddrkor/rnaddrkor_jeju.txt
data/rnaddrkor/rnaddrkor_busan.txt
data/rnaddrkor/rnaddrkor_gyeongbuk.txt
data/rnaddrkor/rnaddrkor_jeonbuk.txt

### 데이터 업로드하기

#### 도로명주소 업로드하기

In [22]:
import os
from tqdm import tqdm

total_line_count = 0  # 총 행수를 저장할 변수

for file in tqdm(file_list, desc='Processing files'):
    file_path = os.path.abspath(file)

    # cp949로 파일 읽고 행 불러오기
    with open(file_path, 'r', encoding='cp949', errors='ignore') as f:
        lines = f.readlines()
    
    # 행 수 계산
    line_count = len(lines)
    
    # 총 행 수에 더하기
    total_line_count += line_count

    # cp949로 읽은 파일을 utf8로 임시파일에 저장
    temp_file_path = "temp_file.txt"
    with open(temp_file_path, 'w', encoding='utf8') as f:
        f.writelines(lines)

    sql = f'''
        LOAD DATA LOCAL INFILE "{temp_file_path}" INTO TABLE rnaddrkor
        FIELDS TERMINATED BY "|";
    '''
    print(f"Processing file: {file_path}, Number of lines: {line_count}")
    query_update(sql)

    # 임시파일 삭제
    os.remove(temp_file_path)

print(f"Total number of lines: {total_line_count}")

Processing files:   0%|          | 0/17 [00:00<?, ?it/s]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_sejong.txt, Number of lines: 27510

Processing files:   6%|▌         | 1/17 [00:00<00:10,  1.48it/s]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_jeonnam.txt, Number of lines: 598298

Processing files:  12%|█▏        | 2/17 [00:10<01:32,  6.17s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_seoul.txt, Number of lines: 530721

Processing files:  18%|█▊        | 3/17 [00:17<01:32,  6.60s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_ulsan.txt, Number of lines: 104458

Processing files:  24%|██▎       | 4/17 [00:19<00:58,  4.51s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_gyeongnam.txt, Number of lines: 653480

Processing files:  29%|██▉       | 5/17 [00:29<01:18,  6.56s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_incheon.txt, Number of lines: 186039

Processing files:  35%|███▌      | 6/17 [00:31<00:56,  5.12s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_chungnam.txt, Number of lines: 491608

Processing files:  41%|████      | 7/17 [00:38<00:58,  5.83s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_daejeon.txt, Number of lines: 114026

Processing files:  47%|████▋     | 8/17 [00:40<00:41,  4.56s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_daegu.txt, Number of lines: 229727

Processing files:  53%|█████▎    | 9/17 [00:44<00:34,  4.35s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_chungbuk.txt, Number of lines: 335225

Processing files:  59%|█████▉    | 10/17 [00:49<00:31,  4.51s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_gangwon.txt, Number of lines: 364686

Processing files:  65%|██████▍   | 11/17 [00:55<00:29,  4.90s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_gyunggi.txt, Number of lines: 1020563

Processing files:  71%|███████   | 12/17 [01:10<00:40,  8.19s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_gwangju.txt, Number of lines: 120474

Processing files:  76%|███████▋  | 13/17 [01:12<00:24,  6.23s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_jeju.txt, Number of lines: 155426

Processing files:  82%|████████▏ | 14/17 [01:14<00:15,  5.03s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_busan.txt, Number of lines: 301822

Processing files:  88%|████████▊ | 15/17 [01:18<00:09,  4.62s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_gyeongbuk.txt, Number of lines: 713862

Processing files:  94%|█████████▍| 16/17 [01:31<00:07,  7.21s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/rnaddrkor_jeonbuk.txt, Number of lines: 437063

Processing files: 100%|██████████| 17/17 [01:38<00:00,  5.77s/it]

Total number of lines: 6384988

In [23]:
sql = "SELECT * FROM rnaddrkor LIMIT 5;"
query_get(sql)

[{'도로명주소관리번호': '11110101310001200009400000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '144',
  '호': '3',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 94,
  '건물부번': 0,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03047',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '',
  '비고': ''},
 {'도로명주소관리번호': '11110101310001200009600000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '108',
  '호': '14',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 96,
  '건물부번': 0,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03047',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '1',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '평안빌',
  '비고': ''},
 {'도로명주소관리번호': '11110101310001200009800000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '108',
  '호': '13',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 98,
  '건물부번': 0,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03047',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '1',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '청운빌라',
  '비고': ''},
 {'도로명주소관리번호': '11110101310001200009900003',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '134',
  '호': '2',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 99,
  '건물부번': 3,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03032',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '1',
  '이동사유코드': '',
  '건축물대장건물명': '풍림팍사이드빌라',
  '시군구용건물명': '풍림팍사이드빌라',
  '비고': ''},
 {'도로명주소관리번호': '11110101310001200009900004',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '읍면동명': '청운동',
  '리명': '',
  '산여부': '0',
  '번지': '130',
  '호': '2',
  '도로명코드': '111103100012',
  '도로명': '자하문로',
  '지하여부': '0',
  '건물본번': 99,
  '건물부번': 4,
  '행정동코드': '1111051500',
  '행정동명': '청운효자동',
  '기초구역번호(우편번호)': '03032',
  '이전도로명주소': '',
  '효력발생일': '20110729',
  '공동주택구분': '0',
  '이동사유코드': '',
  '건축물대장건물명': '',
  '시군구용건물명': '경복빌라',
  '비고': ''}]

In [24]:
sql = "SELECT COUNT(*) FROM rnaddrkor;"
query_get(sql)

[{'COUNT(*)': 6384988}]

#### 지번주소 업로드하기

In [25]:
import glob

file_list = glob.glob("data/rnaddrkor/jibun_*.txt")

for file in file_list:
    print(file)

data/rnaddrkor/jibun_rnaddrkor_daegu.txt
data/rnaddrkor/jibun_rnaddrkor_jeju.txt
data/rnaddrkor/jibun_rnaddrkor_chungbuk.txt
data/rnaddrkor/jibun_rnaddrkor_gyunggi.txt
data/rnaddrkor/jibun_rnaddrkor_gwangju.txt
data/rnaddrkor/jibun_rnaddrkor_gangwon.txt
data/rnaddrkor/jibun_rnaddrkor_gyeongbuk.txt
data/rnaddrkor/jibun_rnaddrkor_jeonbuk.txt
data/rnaddrkor/jibun_rnaddrkor_ulsan.txt
data/rnaddrkor/jibun_rnaddrkor_seoul.txt
data/rnaddrkor/jibun_rnaddrkor_gyeongnam.txt
data/rnaddrkor/jibun_rnaddrkor_jeonnam.txt
data/rnaddrkor/jibun_rnaddrkor_busan.txt
data/rnaddrkor/jibun_rnaddrkor_incheon.txt
data/rnaddrkor/jibun_rnaddrkor_chungnam.txt
data/rnaddrkor/jibun_rnaddrkor_sejong.txt
data/rnaddrkor/jibun_rnaddrkor_daejeon.txt

In [26]:
import os
from tqdm import tqdm

total_line_count = 0  # 총 행수를 저장할 변수

for file in tqdm(file_list, desc='Processing files'):
    file_path = os.path.abspath(file)

    # cp949로 파일 읽고 행 불러오기
    with open(file_path, 'r', encoding='cp949', errors='ignore') as f:
        lines = f.readlines()
    
    # 행 수 계산
    line_count = len(lines)
    
    # 총 행 수에 더하기
    total_line_count += line_count

    # cp949로 읽은 파일을 utf8로 임시파일에 저장
    temp_file_path = "temp_file.txt"
    with open(temp_file_path, 'w', encoding='utf8') as f:
        f.writelines(lines)

    sql = f'''
        LOAD DATA LOCAL INFILE "{temp_file_path}" INTO TABLE jibun_rnaddrkor
        FIELDS TERMINATED BY "|";
    '''
    print(f"Processing file: {file_path}, Number of lines: {line_count}")
    query_update(sql)

    # 임시파일 삭제
    os.remove(temp_file_path)

print(f"Total number of lines: {total_line_count}")

Processing files:   0%|          | 0/17 [00:00<?, ?it/s]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_daegu.txt, Number of lines: 28049

Processing files:  12%|█▏        | 2/17 [00:00<00:05,  2.79it/s]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_jeju.txt, Number of lines: 19240
Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_chungbuk.txt, Number of lines: 84792

Processing files:  18%|█▊        | 3/17 [00:01<00:08,  1.69it/s]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_gyunggi.txt, Number of lines: 285178

Processing files:  29%|██▉       | 5/17 [00:04<00:12,  1.08s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_gwangju.txt, Number of lines: 17851
Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_gangwon.txt, Number of lines: 178859

Processing files:  35%|███▌      | 6/17 [00:06<00:15,  1.37s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_gyeongbuk.txt, Number of lines: 143788

Processing files:  41%|████      | 7/17 [00:08<00:14,  1.40s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_jeonbuk.txt, Number of lines: 114937

Processing files:  53%|█████▎    | 9/17 [00:09<00:07,  1.00it/s]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_ulsan.txt, Number of lines: 18629
Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_seoul.txt, Number of lines: 86986

Processing files:  59%|█████▉    | 10/17 [00:10<00:07,  1.02s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_gyeongnam.txt, Number of lines: 300283

Processing files:  65%|██████▍   | 11/17 [00:14<00:10,  1.74s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_jeonnam.txt, Number of lines: 308309

Processing files:  71%|███████   | 12/17 [00:17<00:11,  2.31s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_busan.txt, Number of lines: 42193

Processing files:  76%|███████▋  | 13/17 [00:18<00:07,  1.76s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_incheon.txt, Number of lines: 31745

Processing files:  82%|████████▏ | 14/17 [00:18<00:04,  1.38s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_chungnam.txt, Number of lines: 186499

Processing files:  88%|████████▊ | 15/17 [00:21<00:03,  1.62s/it]

Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_sejong.txt, Number of lines: 5327
Processing file: /Users/harampark/Desktop/labs/3.study/address-data-guide/code/chapter-6/data/rnaddrkor/jibun_rnaddrkor_daejeon.txt, Number of lines: 11926

Processing files: 100%|██████████| 17/17 [00:21<00:00,  1.25s/it]

Total number of lines: 1864591

In [27]:
sql = "SELECT * FROM jibun_rnaddrkor LIMIT 5;"
query_get(sql)

[{'도로명주소관리번호': '11110101310001200009900004',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '법정읍면동명': '청운동',
  '법정리명': '',
  '산여부': '0',
  '지번본번(번지)': 130,
  '지번부번(호)': 3,
  '도로명코드': '111103100012',
  '지하여부': '0',
  '건물본번': 99,
  '건물부번': 4,
  '이동사유코드': ''},
 {'도로명주소관리번호': '11110101310001200010100000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '법정읍면동명': '청운동',
  '법정리명': '',
  '산여부': '0',
  '지번본번(번지)': 129,
  '지번부번(호)': 2,
  '도로명코드': '111103100012',
  '지하여부': '0',
  '건물본번': 101,
  '건물부번': 0,
  '이동사유코드': ''},
 {'도로명주소관리번호': '11110101310001200010100000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '법정읍면동명': '청운동',
  '법정리명': '',
  '산여부': '0',
  '지번본번(번지)': 129,
  '지번부번(호)': 3,
  '도로명코드': '111103100012',
  '지하여부': '0',
  '건물본번': 101,
  '건물부번': 0,
  '이동사유코드': ''},
 {'도로명주소관리번호': '11110101310001200010100000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '법정읍면동명': '청운동',
  '법정리명': '',
  '산여부': '0',
  '지번본번(번지)': 131,
  '지번부번(호)': 1,
  '도로명코드': '111103100012',
  '지하여부': '0',
  '건물본번': 101,
  '건물부번': 0,
  '이동사유코드': ''},
 {'도로명주소관리번호': '11110101310001200010300000',
  '법정동코드': '1111010100',
  '시도명': '서울특별시',
  '시군구명': '종로구',
  '법정읍면동명': '청운동',
  '법정리명': '',
  '산여부': '0',
  '지번본번(번지)': 129,
  '지번부번(호)': 1,
  '도로명코드': '111103100012',
  '지하여부': '0',
  '건물본번': 103,
  '건물부번': 0,
  '이동사유코드': ''}]

In [28]:
sql = "SELECT COUNT(*) FROM jibun_rnaddrkor;"
query_get(sql)

[{'COUNT(*)': 1864591}]

## 5.6 SQL로 데이터 분석하기

### 시도별 도로명주소의 개수 분석하기

In [29]:
sql = '''
CREATE TABLE full_rna_addr AS
SELECT DISTINCT A.`기초구역번호(우편번호)` AS 새우편번호,
    CONCAT(A.시도명, ' ',
        CASE WHEN A.시군구명 = '' THEN '' ELSE CONCAT(A.시군구명, ' ') END,
        CASE WHEN A.읍면동명 = '' THEN '' ELSE
            CASE WHEN A.리명 = '' THEN '' ELSE CONCAT(A.읍면동명, ' ') END
        END,
        A.도로명, ' ',
        CASE WHEN A.지하여부 = 0 THEN ''
            WHEN A.지하여부 = 1 THEN '지하 '
            WHEN A.지하여부 = 2 THEN '공중 '
            ELSE ''
        END,
        A.건물본번,
        CASE WHEN A.건물부번 = 0 THEN '' ELSE CONCAT('-', A.건물부번) END,
        CASE
            WHEN A.공동주택구분 = '0' THEN
                CASE
                    WHEN A.읍면동명 = '' THEN ''
                    ELSE
                        CASE WHEN A.리명 = '' THEN CONCAT(' (', A.읍면동명, ')') ELSE '' END
                END
            WHEN A.공동주택구분 = '1' THEN
                CASE
                    WHEN A.읍면동명 = '' THEN
                        CASE
                            WHEN A.시군구용건물명 = '' THEN ''
                            ELSE CONCAT(' (', A.시군구용건물명, ')')
                        END
                    ELSE CONCAT(' (',
                        CASE
                            WHEN A.리명 = '' THEN CONCAT(A.읍면동명, ', ')
                            ELSE ''
                        END,
                        CASE
                            WHEN A.시군구용건물명 = '' THEN ''
                            ELSE A.시군구용건물명
                        END,
                        ')')
                END
            ELSE ''
        END
    ) AS 도로명주소1,
    CONCAT(A.시도명, ' ',
        CASE WHEN A.시군구명 = '' THEN '' ELSE CONCAT(A.시군구명, ' ') END,
        CASE WHEN A.읍면동명 = '' THEN '' ELSE
            CASE WHEN A.리명 = '' THEN '' ELSE CONCAT(A.읍면동명, ' ') END
        END,
        A.도로명, ' ',
        CASE WHEN A.지하여부 = 0 THEN ''
            WHEN A.지하여부 = 1 THEN '지하 '
            WHEN A.지하여부 = 2 THEN '공중 '
            ELSE ''
        END,
        A.건물본번,
        CASE WHEN A.건물부번 = 0 THEN '' ELSE CONCAT('-', A.건물부번) END
    ) AS 도로명주소2,
    A.도로명주소관리번호 AS 도로명주소관리번호,
    A.시도명 AS 시도명
FROM rnaddrkor A;
'''

query_update(sql)

True

In [30]:
sql = "SELECT * FROM full_rna_addr LIMIT 10;"
query_get(sql)

[{'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 94 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 94',
  '도로명주소관리번호': '11110101310001200009400000',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 96 (청운동, 평안빌)',
  '도로명주소2': '서울특별시 종로구 자하문로 96',
  '도로명주소관리번호': '11110101310001200009600000',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 98 (청운동, 청운빌라)',
  '도로명주소2': '서울특별시 종로구 자하문로 98',
  '도로명주소관리번호': '11110101310001200009800000',
  '시도명': '서울특별시'},
 {'새우편번호': '03032',
  '도로명주소1': '서울특별시 종로구 자하문로 99-3 (청운동, 풍림팍사이드빌라)',
  '도로명주소2': '서울특별시 종로구 자하문로 99-3',
  '도로명주소관리번호': '11110101310001200009900003',
  '시도명': '서울특별시'},
 {'새우편번호': '03032',
  '도로명주소1': '서울특별시 종로구 자하문로 99-4 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 99-4',
  '도로명주소관리번호': '11110101310001200009900004',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 100 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 100',
  '도로명주소관리번호': '11110101310001200010000000',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 100-1 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 100-1',
  '도로명주소관리번호': '11110101310001200010000001',
  '시도명': '서울특별시'},
 {'새우편번호': '03032',
  '도로명주소1': '서울특별시 종로구 자하문로 101 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 101',
  '도로명주소관리번호': '11110101310001200010100000',
  '시도명': '서울특별시'},
 {'새우편번호': '03032',
  '도로명주소1': '서울특별시 종로구 자하문로 103 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 103',
  '도로명주소관리번호': '11110101310001200010300000',
  '시도명': '서울특별시'},
 {'새우편번호': '03047',
  '도로명주소1': '서울특별시 종로구 자하문로 104 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 104',
  '도로명주소관리번호': '11110101310001200010400000',
  '시도명': '서울특별시'}]

In [31]:
sql = "SELECT `시도명`, COUNT(`도로명주소관리번호`) AS count FROM full_rna_addr GROUP BY `시도명` ORDER BY count DESC;"
query_get(sql)

[{'시도명': '경기도', 'count': 1020563},
 {'시도명': '경상북도', 'count': 713862},
 {'시도명': '경상남도', 'count': 653480},
 {'시도명': '전라남도', 'count': 598298},
 {'시도명': '서울특별시', 'count': 530721},
 {'시도명': '충청남도', 'count': 491608},
 {'시도명': '전북특별자치도', 'count': 437063},
 {'시도명': '강원특별자치도', 'count': 364686},
 {'시도명': '충청북도', 'count': 335225},
 {'시도명': '부산광역시', 'count': 301822},
 {'시도명': '대구광역시', 'count': 229727},
 {'시도명': '인천광역시', 'count': 186039},
 {'시도명': '제주특별자치도', 'count': 155426},
 {'시도명': '광주광역시', 'count': 120474},
 {'시도명': '대전광역시', 'count': 114026},
 {'시도명': '울산광역시', 'count': 104458},
 {'시도명': '세종특별자치시', 'count': 27510}]

In [4]:
import pandas as pd
import pymysql

sql = "SELECT `시도명`, COUNT(`도로명주소관리번호`) AS count FROM full_rna_addr GROUP BY `시도명` ORDER BY count DESC;"

conn = init_db_connection()
df = pd.read_sql(sql, con=conn)
df

        시도명    count
0       경기도  1020563
1      경상북도   713862
2      경상남도   653480
3      전라남도   598298
4     서울특별시   530721
5      충청남도   491608
6   전북특별자치도   437063
7   강원특별자치도   364686
8      충청북도   335225
9     부산광역시   301822
10    대구광역시   229727
11    인천광역시   186039
12  제주특별자치도   155426
13    광주광역시   120474
14    대전광역시   114026
15    울산광역시   104458
16  세종특별자치시    27510

In [33]:
!pip3 install plotly
!pip3 install nbformat --upgrade

Requirement already satisfied: plotly in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (5.19.0)
Requirement already satisfied: packaging in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from plotly) (21.3)
Requirement already satisfied: tenacity>=6.2.0 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from plotly) (8.2.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from packaging->plotly) (3.0.6)
Requirement already satisfied: nbformat in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (5.9.2)
Requirement already satisfied: jupyter-core in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from nbformat) (5.7.1)
Requirement already satisfied: fastjsonschema in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from nbformat) (2.19.1)
Requirement already satisfied: jsonschema>=2.6 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from nbformat) (4.21.1)
Requirement already satisfied: traitlets>=5.1 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from nbformat) (5.14.1)
Requirement already satisfied: referencing>=0.28.4 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat) (0.33.0)
Requirement already satisfied: attrs>=22.2.0 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat) (23.2.0)
Requirement already satisfied: rpds-py>=0.7.1 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat) (0.18.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from jsonschema>=2.6->nbformat) (2023.12.1)
Requirement already satisfied: platformdirs>=2.5 in /opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages (from jupyter-core->nbformat) (4.2.0)

In [5]:
import plotly.graph_objects as go
import pandas as pd

# 바그래프 생성
bar = go.Bar(x=df['시도명'], y=df['count'], name='도로명주소관리번호 개수')

# 레이아웃 설정
layout = go.Layout(title='시도별 도로명주소의 개수', paper_bgcolor='#F9FAFB')

# Figure 생성과 출력
fig = go.Figure(data=bar, layout=layout)
fig.show()

# HTML 파일로 저장
fig.write_html('address-count-per-sido.html')

### 관련지번

#### 관련지번 테이블에서 PNU 생성하기

In [30]:
def multi_query_update(sql):
    connection = init_db_connection()
    with connection:
        with connection.cursor() as cursor:
            sql_list = [query.strip() for query in sql.strip().split('\n')]
            for query in sql_list:
                cursor.execute(query)
                print(f"Query executed: {query}")
            connection.commit()
            return True

In [31]:
sql = '''
ALTER TABLE jibun_rnaddrkor ADD PNU VARCHAR(19); 
UPDATE jibun_rnaddrkor SET PNU = CONCAT(`법정동코드`, `산여부`, LPAD(`지번본번(번지)`, 4, '0'), LPAD(`지번부번(호)`, 4, '0'));
'''
multi_query_update(sql)

Query executed: alter table jibun_rnaddrkor add PNU varchar(19);
Query executed: update jibun_rnaddrkor set PNU = concat(`법정동코드`, `산여부`, LPAD(`지번본번(번지)`, 4, '0'), LPAD(`지번부번(호)`, 4, '0'));

True

In [33]:
sql = "SELECT PNU FROM jibun_rnaddrkor LIMIT 5;"
query_get(sql)

[{'PNU': '1111010100001300003'},
 {'PNU': '1111010100001290002'},
 {'PNU': '1111010100001290003'},
 {'PNU': '1111010100001310001'},
 {'PNU': '1111010100001290001'}]

#### 도로명주소 테이블과 관련지번 테이블 연결하기

In [35]:
sql = '''
SELECT A.`도로명주소관리번호`, A.`도로명주소1`, A.`도로명주소2`, B.PNU 
FROM full_rna_addr A 
LEFT JOIN jibun_rnaddrkor B 
ON A.`도로명주소관리번호` = B.`도로명주소관리번호` 
LIMIT 10;
'''
query_get(sql)

[{'도로명주소관리번호': '11110101310001200009400000',
  '도로명주소1': '서울특별시 종로구 자하문로 94 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 94',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200009600000',
  '도로명주소1': '서울특별시 종로구 자하문로 96 (청운동, 평안빌)',
  '도로명주소2': '서울특별시 종로구 자하문로 96',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200009800000',
  '도로명주소1': '서울특별시 종로구 자하문로 98 (청운동, 청운빌라)',
  '도로명주소2': '서울특별시 종로구 자하문로 98',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200009900003',
  '도로명주소1': '서울특별시 종로구 자하문로 99-3 (청운동, 풍림팍사이드빌라)',
  '도로명주소2': '서울특별시 종로구 자하문로 99-3',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200009900004',
  '도로명주소1': '서울특별시 종로구 자하문로 99-4 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 99-4',
  'PNU': '1111010100001300003'},
 {'도로명주소관리번호': '11110101310001200010000000',
  '도로명주소1': '서울특별시 종로구 자하문로 100 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 100',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200010000001',
  '도로명주소1': '서울특별시 종로구 자하문로 100-1 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 100-1',
  'PNU': None},
 {'도로명주소관리번호': '11110101310001200010100000',
  '도로명주소1': '서울특별시 종로구 자하문로 101 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 101',
  'PNU': '1111010100001290002'},
 {'도로명주소관리번호': '11110101310001200010100000',
  '도로명주소1': '서울특별시 종로구 자하문로 101 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 101',
  'PNU': '1111010100001290003'},
 {'도로명주소관리번호': '11110101310001200010100000',
  '도로명주소1': '서울특별시 종로구 자하문로 101 (청운동)',
  '도로명주소2': '서울특별시 종로구 자하문로 101',
  'PNU': '1111010100001310001'}]

In [98]:
import pandas as pd
import pymysql

sql = '''
SELECT A.`도로명주소관리번호`, COUNT(DISTINCT B.PNU) AS PNU_COUNT
FROM full_rna_addr A
LEFT JOIN jibun_rnaddrkor B ON A.`도로명주소관리번호` = B.`도로명주소관리번호`
GROUP BY A.`도로명주소관리번호`
ORDER BY PNU_COUNT DESC
LIMIT 10;
'''

conn = init_db_connection()
df1 = pd.read_sql(sql, con=conn)
df1

                    도로명주소관리번호  PNU_COUNT
0  27170109300701600003300000        637
1  27170103422922100003000000        481
2  11140153310002100024600000        448
3  52710330301600100150000000        417
4  27170103314301200044600000        417
5  30200133316706000022000001        410
6  52710330301600200018100000        409
7  27170103314300400023000000        408
8  48840390334304500154500000        384
9  48250119333505100050200000        379

In [99]:
rna_addr_list = df1['도로명주소관리번호'].tolist()

sql = f'''
SELECT * FROM full_rna_addr WHERE `도로명주소관리번호` IN {str(rna_addr_list).replace('[','(').replace(']',')')}
'''

conn = init_db_connection()
df2 = pd.read_sql(sql, con=conn)
df2

,새우편번호,도로명주소1,도로명주소2,도로명주소관리번호,시도명
0,04563,서울특별시 중구 청계천로 246 (방산동),서울특별시 중구 청계천로 246,11140153310002100024600000,서울특별시
1,41774,"대구광역시 서구 문화로 230 (평리동, 서대구역반도유보라센텀)",대구광역시 서구 문화로 230,27170103314300400023000000,대구광역시
2,41763,"대구광역시 서구 당산로 446 (평리동, 서대구영무예다음)",대구광역시 서구 당산로 446,27170103314301200044600000,대구광역시
3,41767,"대구광역시 서구 서대구로29길 30 (평리동, 서대구역화성파크드림)",대구광역시 서구 서대구로29길 30,27170103422922100003000000,대구광역시
4,41716,"대구광역시 서구 고성로 33 (원대동3가, 서대구센트럴자이)",대구광역시 서구 고성로 33,27170109300701600003300000,대구광역시
5,34059,대전광역시 유성구 자운로 220-1 (추목동),대전광역시 유성구 자운로 220-1,30200133316706000022000001,대전광역시
6,50811,경상남도 김해시 인제로 502 (삼방동),경상남도 김해시 인제로 502,48250119333505100050200000,경상남도
7,52455,경상남도 남해군 창선면 흥선로 1545,경상남도 남해군 창선면 흥선로 1545,48840390334304500154500000,경상남도
8,55365,전북특별자치도 완주군 이서면 콩쥐팥쥐로 1500,전북특별자치도 완주군 이서면 콩쥐팥쥐로 1500,52710330301600100150000000,전북특별자치도
9,55365,전북특별자치도 완주군 이서면 혁신로 181,전북특별자치도 완주군 이서면 혁신로 181,52710330301600200018100000,전북특별자치도

In [101]:
merged = df1.merge(df2, on='도로명주소관리번호').sort_values('PNU_COUNT', ascending=False)
merged

,도로명주소관리번호,PNU_COUNT,새우편번호,도로명주소1,도로명주소2,시도명
0,27170109300701600003300000,637,41716,"대구광역시 서구 고성로 33 (원대동3가, 서대구센트럴자이)",대구광역시 서구 고성로 33,대구광역시
1,27170103422922100003000000,481,41767,"대구광역시 서구 서대구로29길 30 (평리동, 서대구역화성파크드림)",대구광역시 서구 서대구로29길 30,대구광역시
2,11140153310002100024600000,448,04563,서울특별시 중구 청계천로 246 (방산동),서울특별시 중구 청계천로 246,서울특별시
3,52710330301600100150000000,417,55365,전북특별자치도 완주군 이서면 콩쥐팥쥐로 1500,전북특별자치도 완주군 이서면 콩쥐팥쥐로 1500,전북특별자치도
4,27170103314301200044600000,417,41763,"대구광역시 서구 당산로 446 (평리동, 서대구영무예다음)",대구광역시 서구 당산로 446,대구광역시
5,30200133316706000022000001,410,34059,대전광역시 유성구 자운로 220-1 (추목동),대전광역시 유성구 자운로 220-1,대전광역시
6,52710330301600200018100000,409,55365,전북특별자치도 완주군 이서면 혁신로 181,전북특별자치도 완주군 이서면 혁신로 181,전북특별자치도
7,27170103314300400023000000,408,41774,"대구광역시 서구 문화로 230 (평리동, 서대구역반도유보라센텀)",대구광역시 서구 문화로 230,대구광역시
8,48840390334304500154500000,384,52455,경상남도 남해군 창선면 흥선로 1545,경상남도 남해군 창선면 흥선로 1545,경상남도
9,48250119333505100050200000,379,50811,경상남도 김해시 인제로 502 (삼방동),경상남도 김해시 인제로 502,경상남도